.container {
  width: min(1400px, 100% - 3rem);
  margin: 100px auto;
}

.container input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
  background-color: #0d1b2a;
  color: white;
}

.formAccount {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px
}

.formFilter {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container span {
  color: #0d1b2a;
  font-size: 20px;
}

.balanceContainer {
  display: flex;
  gap: 10px
}